<a href="/dashboard">&larr; Voltar</a>
<div class="admin-title">
  <h2>Adicionar um novo Artigo</h2>
</div>

<form action="/add-post" method="POST">

  <label for="title"><b>Titulo</b></label>
  <input type="text" placeholder="Titulo da Postagem" name="title">

  <label for="body"><b>Conteudo</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <input type="submit" value="Adicionar" class="btn">

</form>