<a href="/dashboard">&larr; Voltar</a>
<div class="admin-title">
  <h2>Visualizar / Editar Artigo</h2>
</div>

<form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Deletar" class="btn-delete btn">
</form>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

    <label for="title"><b>Titulo</b></label>
    <input type="text" placeholder="Postar Artigo" name="title" value="<%= data.title %>">
  
    <label for="body"><b>Conteudo</b></label>
    <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>
  
    <input type="submit" value="Atualizar" class="btn">
  
  </form>