<div class="author">
    <h1 class="author__heading">Hello my name is Fihr</h1>
    <p class="author__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est nibh, mollis vitae mi vitae, ultricies 
        suscipit justo. Etiam imperdiet gravida nunc, eget fringilla lectus accumsan nec. Suspendisse a ex id lectus 
        tincidunt tincidunt. Vivamus fermentum venenatis cursus. </p>

</div>

<img src="/img/waterStrikeStoneWall.jpg" alt="imagem da agua batendo violentamente contra as rochas" height="528" width="981" class="img hero-image">

<section class="articles">
    <h2 class="articles__heading"></h2>Ultimas Postagens</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Titulo da Postagem</span>
                <span class="article-list__date">Data</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Titulo da Postagem</span>
                <span class="article-list__date">Data</span>
            </a>
        </li>
    </ul>
</section>

<a href="#" class="pagination">&lt; Ver Postagens mais Antigos</a>