<div class="author">
    <h1 class="author__heading">Olá eu, me chamo Fihr</h1>
    <p class="author__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est nibh, mollis vitae mi vitae, ultricies 
        suscipit justo. Etiam imperdiet gravida nunc, eget fringilla lectus accumsan nec. Suspendisse a ex id lectus 
        tincidunt tincidunt. Vivamus fermentum venenatis cursus. </p>

</div>

<img src="/img/waterStrikeStoneWall.jpg" alt="imagem da agua batendo violentamente contra as rochas" height="528" width="981" class="img hero-image">

<section class="articles">
    <h2 class="articles__heading"></h2>Ultimas Postagens</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>

        <% }) %>

       
    </ul>
    <% if (nextPage !== null) { %>
     <!-- checar se tem uma nextPage -->
     
         <a href="/?page=<%= nextPage %>"  class="pagination">&lt; Ver Postagens mais Antigos</a>
    <% } %>

</section>
